.popup__save-text {
  color: #fff;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .popup__save-text {
    font-size: 14px;
    line-height: 17px;
  }
}