.profile__status {
  margin: 0;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-top: 16px;
}

@media screen and (max-width: 750px) {
  .profile__status {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-top: 7px;
    text-align: center;
  }
}