.popup__save {
  margin: 48px 0 37px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 358px;
  height: 50px;
  background-color: #000;
  border-radius: 2px;
  opacity: 1;
}

.popup__save:hover {
  opacity: .8;
  transition: linear  0.1s 0.1s;
}

@media screen and (max-width: 550px) {
  .popup__save {
    margin: 45px 0 25px;
    width: 238px;
    height: 46px;
  }
}