.elements {
  max-width: calc(100% - 400px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(282px, 1fr));
  padding-bottom: 66px;
  column-gap: 17px;
  row-gap: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .elements {
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    padding-bottom: 48px;
    max-width: calc(100% - 38px);
  }
}