.popup__container-img {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  min-width: 430px;
  max-width: 816px;
  cursor: initial;
}

@media screen and (max-width: 700px) {
  .popup__container-img {
    min-width: 100px;
    max-width: 240px;
  }
}